<!DOCTYPE html>
<html>
  <head>   
    <%- include('assets/partials/head', { isProd: isProd }) %>   
  </head>
  <body>
    <div class="main-body">
      <%- include('assets/partials/taskbar', { isProd: true }); %>
      <%- include('assets/partials/term', { isProd: isProd }) %>
      <div class="icon" id="btnWeddingInvitation">
        <img src="assets/img/ppf-phone.gif" alt="" title="Run wedding-invitation.sh">
        <span>Wedding Invitation</span>
      </div>
    </div>
  </body>
</html>