// ----------------------------------------------------------
// VARIABLES
// ----------------------------------------------------------
$bg-color-main: #87CEEB;
$terminal-font-color: #00BE2C;
$window-colors: #515151;
$window-color-red: 51;
$window-color-green: 51;
$window-color-blue: 51;

$taskbar-height: 30px;
// ----------------------------------------------------------
// GENERAL
// ----------------------------------------------------------
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/***
  END OF CSS RESET
**/

body {
  font-family: monospace;
  line-height: 1.5em;
  word-spacing: .7px;
  font-size: 13px;

  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
  }
}
.main-body {
  height: 100vh;
  background-color:$bg-color-main;
  background-position: 20px bottom;
  background-repeat: no-repeat;

  .icon {
    width: 72px;
    text-align: center;
    margin-top: 12px;
    margin-left: 12px;
    cursor:pointer;

    img {
      width: 66px;
      height: 52px;
      margin-bottom: -4px;
    }

    span {
      text-align: center;
      font-size:12px;
      text-shadow: 0px 1px 1px rgba(88, 88, 88, 0.8);
    }
  }
}
.taskbar {
  height: $taskbar-height;
  line-height: $taskbar-height;

  * {
    box-sizing: border-box;
  }

  .app-icon {
    margin-top:4px;
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
  }

  .taskbar-1, .taskbar-2, .statusbar {
    display:inline-block;
    opacity: 0.85;
    height: $taskbar-height;
    background-color: $window-colors;
    vertical-align: top;
  }

  .taskbar-1 {
    width: 41%;
    padding-left: 3px;
  }

  .taskbar-2 {
    width: 41%;
  }

  .statusbar {
    width: 18%;
    color: #fff;
    font-family: monospace;
    text-align: right;
    padding-right:3px;
  }

  .active {
    background: rgba($window-color-red, $window-color-green, $window-color-blue, 0.7);
  }
}
.term-container {
  border: 2px solid #000;
  width: 640px;
  height: 460px;
  float: right;
  margin-right: 25px;
  margin-top: 25px;
  display: none;
  border-radius: 3px;
}
.term-title {
  text-align: center;
  height: 20px;
  line-height: 20px;
  color: #fff;
  background-color: $window-colors;
  font-family: monospace;
  font-size: 12px;
  strong {
    font-weight: bold;
  }
}
#term {
  opacity: 0.8;
  color: $terminal-font-color;
  height: 420px;

  .cmd, .command div, .terminal-output div {
    color: $terminal-font-color;
    line-height: 17px;
  }

  .cursor {
    color: $terminal-font-color;
  }

  a {
    color: $terminal-font-color;
  }

  a:hover {
    color: #fff;
  }
}
.hide {
  display:none !important;
}