<div class="taskbar">
  <div class="taskbar-1 active">
    <span class="app-icon hide">
      <img src="assets/img/terminal.png" title="Terminator" alt="Terminator">
    </span>
  </div><!--
  --><div class="taskbar-2"></div><!--
  --><div class="statusbar">
    <span class="app-icon">
      <img src="assets/img/wifi.png" title="Good signal" alt="WIFI signal">
    </span>
    <span class="app-icon">
      <img src="assets/img/battery.png" title="Charging..." alt="Batttery status">
    </span>
    <span id="currTime">
      
    </span>  
  </div>
</div>